<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ugcnet.paperone"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>UGC NET Paper 1</name>

  <description>
      UGC NET Paper 1 Past Paper
  </description>

<gap:plugin name="phonegap-admob" source="npm"/>

  <author email="painspotters360@gmail.com">
      Pain Spotters Learning Solutions
  </author>

 <icon src="Icon 520.png" />

</widget>
